@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
  touch-action: manipulation;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body {
  /* Coloring */
  background: white;
}

.content-container {
  /* Spacing */
  margin: 2rem;
  /* Placement */
  display: grid;
  place-items: center;
  text-align: center;
}

#definition {
  max-width: 75%;
}

/* Sections */

section {
  /* Top, Right, Bottom, Left */
  margin: 1rem 0.5rem 1rem 0.5rem;
}

/* Hero */

.hero-content > h1 {
  font-size: 50px;
  text-shadow: 0px 3px 5px rgba(0,0,0,0.5);
}

.hero-container {
  /* Coloring */
  color: white;
  background-image: url("matrix.gif"); /* background: #111111; */
  background-size: cover;
  background-repeat: no-repeat;
  /* Sizing */
  width: 100%;
  height: 12.5rem;
  /* Placement */
  display: grid;
  place-items: center;
  text-align: center;
}

/* Cases */

.cases-container {
  /* Placement */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cases-content {
  /* Styling */
  border-radius: 0.5rem;
  /* Coloring */
  background: black;
  color: aliceblue;
  /* Positioning */
  flex: 1 1 300px;
  /* Placement */
  display: grid;
  place-items: center;
  text-align: center;
  /* Spacing */
  margin: 0.5rem;
  padding: 2rem;
}

.cases-content {
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
}

.cases-content > * {
  margin: 0.5rem;
}

.cases-content.green {
  background: #48c774;
}

.cases-content.red {
  background: #d72323;
}
.cases-content.yellow {
  background: #ffdd57;
  color: #4a4a4a;
}
.cases-content.blue {
  background: #1e90ff;
}

/* Buttons */

button {
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  border: #f5f5f5 2px solid;
  background: #f5f5f5;
  border-radius: 15px;
  transition: 0.2s ease-in-out;
  outline: none;
}

button:hover {
  border: #dddddd 2px solid;
  background: #dddddd;
  border-radius: 15px;
}

button:active {
  border: #cacaca 2px solid;
  background: #cacaca;
  border-radius: 15px;
}

@media screen and (min-width: 900px) {
  button#toSimulation {
    font-size: 1.5rem;
    border-radius: 75px;
    padding: 1rem 4.5rem 1rem 4.5rem;
  }
}

/* Footer */

#footer {
  /* Coloring */
  background: #f5f5f5;
  /* Sizing */
  font-size: 1rem;
  width: 100%;
  height: 5rem;
  /* Placement */
  display: grid;
  place-items: center;
  text-align: center;
}

/* Modal */

#modal {
  display: none;
}

.modal-background {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
  /* Placement */
  display: grid;
  place-items: center;
}

.modal-content > * {
  max-width: 100%;
}

#close-modal {
  color: #ffffff;
  position: absolute;
  right: 3rem;
  top: 3rem;
  transition: .1s ease-in-out;
}

#close-modal:hover {
  color: #dddddd;
}

#close-modal:active {
  color: #cacaca;
}